# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:\workspace\alpine-fit-trainer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/alpine-fit-trainer.iml
ROOT.iml
../.idea/
.gradle/
../.idea

